* {
  box-sizing: border-box;
}

.header{
  background: #F36304;
  height: 80px;
  width: 100%;
  display: flex;

  // .main{
  //   // background: #F36304;
  //   // height: 80px;
  //   // width: 100%;

    li{
      list-style: none;
      text-align: center;
      font-size: 20px;
    }
    .header-content{
      height: 80px;
      width: 100%;
      // text-align: center;
      &__body{
        // text-align: center;
      &__fridge{
        text-decoration: none;
        align-items: center;
        float: left;
        padding: 25px 285px;
        margin: 0 auto;
        // border-right: 1px solid #f8f8f8;
        color: white;
        
        // height: 75px;
          // width: 350px;
          // float: left;
          // text-align: center;
          // line-height: 75px;
          // background-color: #ffffff;
          // text-decoration: none;
          // color: black;
          font-weight: bold
      }
      &__frozon{
        text-decoration: none;
        align-items: center;
        float: right;
        padding: 25px 285px;
        margin: 0 auto;
        color: white;
        font-weight: bold;
      }
    }
  }
  }
  .main{
    display: flex;
  .fridge{
    background: #FFF2C1;
    height: 600px;
    width: 200px;
    // widthは消すかも
    .fridge-ingredient{
      li{
        list-style: none;
        font-size: 18px;
        padding: 20px 30px;
        margin: 0 auto;
        // text-decoration: none;
      i{
      }
      ::before{
        padding: 20px;
      }
    }
    }
    &__meat{
      text-decoration: none;
      float: left;
      color: black;
      // padding: 30px;
    }
    .fas.fa-bacon{
        color: darksalmon;
    }
    &__seafood{
      text-decoration: none;
      float: left;
      color: black;
      // padding: 30px;
    }
    .fas.fa-fish{
      color: deepskyblue;
    }
    &__veg{
      text-decoration: none;
      float: left;
      color: black;
      // padding: 30px;
    }
    .fas.fa-carrot{
      color: #ec6800;
    }
    &__fruite{
      text-decoration: none;
      float: left;
      color: black;
      // padding: 30px;
    }
    .fas.fa-apple-alt{
      color: red;
    }
    &__daily{
      text-decoration: none;
      color: black;
      // padding: 30px;
      float: left;
    }
    .fas.fa-cheese{
      color: #DF7704;
    }
    &__drink{
      text-decoration: none;
      float: left;
      color: black;
      // padding: 30px;
    }
    .fas.fa-glass-whiskey{
      color: green;
    }
    &__sweets{
      text-decoration: none;
      float: left;
      color: black;
      // padding: 30px;
    }
    .fas.fa-cookie{
      color: #6B2D02;
    }
    &__seasoning{
      text-decoration: none;
      float: left;
      color: black;
      // padding: 30px;
    }
    .fas.fa-pepper-hot{
      color: red;
    }
    &__others{
      text-decoration: none;
      color: black;
      // padding: 30px;
      float: left;
    }

  }

.right-fridge{
  width: calc(100vw - 200px);
  // background: black;
  // height: 300px;
  float: right;
}
  }

.frozon{
  // background: #FFF2C1;
  background: mediumspringgreen;
  height: 275px;
  width: 200px;
  li{
    list-style: none;
    font-size: 18px;
    padding: 20px 30px;
    margin: 0 auto;
    // text-decoration: none;
    i{
    }
    ::before{
      padding: 20px;
    }
  }
  &__meat{
    text-decoration: none;
    float: left;
    color: black;
    // padding: 30px;
  }
  .fas.fa-bacon{
      color: darksalmon;
  }
  &__veg{
    text-decoration: none;
    float: left;
    color: black;
    // padding: 30px;
  }
  .fas.fa-carrot{
    color: #ec6800;
  }
  &__ice-cream{
    text-decoration: none;
    color: black;
    float: left;
  }
  .fas.fa-ice-cream{
    color: mediumspringgreen;
  }
  &__others{
    text-decoration: none;
    color: black;
    // padding: 30px;
    float: left;
  }

}


