-# TODO 食材入力画面の時に使う


-# .new
-#   .new__title
-#   冷蔵庫に入れた食材を記入する
-#   .new__ingredient
-#     = form_tag local: true do |f|
      
-#       .new__ingredient--title
-#       食材を入力する
-#       .new__ingredient--day
-#       入力日
-#       .new__ingredient--keep
-#       保存場所
-#       .new__ingredient--exp
-#       賞味期限
-#       .new__ingredient--caution
-#       注意事項
      